# Reports

<table>
  <tr>
    <th>Benchmark</th>
    <th>Description</th>
    <th>Architecture</th>
    <th>CPUs</th>
  </tr>
  {%- for result in results %}
  <tr>
    <td>
      <a href="{{ result.benchmark.name }}_{{ result.arch }}_{{ result.cores }}_{{ result.count }}_{{ result.iterations }}.md">{{ result.benchmark.name }}</a>
    </td>
    <td>{{ result.benchmark.description }}</td>
    <td>{{ result.arch }}</td>
    <td>{{ result.cores }}</td>
  </tr>
  {%- endfor %}
</table>
